.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://img3.akspic.ru/crops/9/3/8/6/6/166839/166839-battlefield_2042-electronic_arts-kosti-shuter-mnogopolzovatelskaya_video_igra-3840x2160.jpg);
    background-position: center top;
	background-size:cover;
}

.text {
    font-size: 20px;
    padding: 250px;
    padding-left: 100px;
    font-family: comic sans MS;
}