html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

body {
  background-color: darkcyan;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  height: 400px;
  width: 450px;
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all .5s ease;
}
.frame-text {
  font-size: 50px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all
 .5s ease;
}

.p-text {
  font-size: 30px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all
 .5s ease;
}

.btn-text {
  color: white;
  opacity: 1;
  transition: all
 .5s ease;
}

a.btn:hover {
    cursor: pointer; 
    background-color: #0F4FE6;
    transition: background-color .5s; 
    color: white;
}

.btn-animate {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: White;
  padding-top: 8px;
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 23px;
  display: block;
  background-color: rgba(16,89,255, 1);
  left: 00px;
  top: 0px;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; 
}

.btn-animate-grow {
  width: 130%;
  height: 625px;
  position: relative;
  left: -55px;
  top: -420px;
  color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,1);
}
