body{
  background-image: url(background.jpg);
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.p-1 {
  text-align: left;
  color: white;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.p-2 {
  text-align: center;
  color: white;
  font-size: 18px;
}

.p-3 {
  text-align: right;
  color: White;
  margin-right: 20px;
  padding-right: 20px;
  font-size: 18px;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 9999;
}

.navbar-logo a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


/* Table  */
.table-container {
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th,
.table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.table th {
  background-color: #f1f1f1;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}


/* Images */
.image-row {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.image-row img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin: 0 10px;
}