body {
  background-image: url(background.jpg);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
      
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 9999;
}

.navbar-logo a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* Navbar 2 */
.header-2 {
  background-color: #f2f3f4;
  padding: 10px 20px;
}

.h1-2 {
  text-align: center;
  text-justify: center;
}
      
.nav-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  font-family: sans-serif;
  padding: 10px 20px;
}
      
.nav-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
      
.nav-2 ul li {
  margin: 0 10px;
}
      
.nav-2 ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
      
.nav-2 ul li a:hover {
  text-decoration: underline;
}


/* container */
.container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.box img {
  width: 100%;
  border-radius: 10px;
}

.box h2 {
  font-size: 24px;
  margin-top: 20px;
}

.box p {
  font-size: 16px;
  margin-top: 10px;
}

.box button {
  background-color: #008CBA;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
